/*!////////////////////////////////////////////////
// BASE
/////////////////////////////////////////////////*/
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html,
body,
iframe,
div,
section,
header,
p,
a,
ul,
ol,
li,
article,
footer,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.rwd-table {
  margin: 1em 0;
  min-width: 300px; }
  .rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  .rwd-table th {
    display: none; }
  .rwd-table td {
    display: block; }
    .rwd-table td:first-child {
      padding-top: .5em; }
    .rwd-table td:last-child {
      padding-bottom: .5em; }
    .rwd-table td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block; }
      @media (min-width: 480px) {
        .rwd-table td:before {
          display: none; } }
  .rwd-table th, .rwd-table td {
    text-align: left; }
    @media (min-width: 480px) {
      .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em; }
        .rwd-table th:first-child, .rwd-table td:first-child {
          padding-left: 0; }
        .rwd-table th:last-child, .rwd-table td:last-child {
          padding-right: 0; } }

/*!////////////////////////////////////////////////
// LAYOUT
/////////////////////////////////////////////////*/
.wrap {
  max-width: 1280px;
  width: 92%;
  margin: 0px auto;
  position: relative; }

.row {
  clear: both; }

@media screen and (min-width: 400px) {
  .wrap {
    width: 98%; }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-half,
  .grid-full,
  .grid-25,
  .grid-unit {
    float: left;
    width: 100%; }
    .grid-1:nth-child(n),
    .grid-2:nth-child(n),
    .grid-3:nth-child(n),
    .grid-4:nth-child(n),
    .grid-5:nth-child(n),
    .grid-6:nth-child(n),
    .grid-half:nth-child(n),
    .grid-full:nth-child(n),
    .grid-25:nth-child(n),
    .grid-unit:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-1:nth-of-type(1n),
    .grid-2:nth-of-type(1n),
    .grid-3:nth-of-type(1n),
    .grid-4:nth-of-type(1n),
    .grid-5:nth-of-type(1n),
    .grid-6:nth-of-type(1n),
    .grid-half:nth-of-type(1n),
    .grid-full:nth-of-type(1n),
    .grid-25:nth-of-type(1n),
    .grid-unit:nth-of-type(1n) {
      margin-right: 0; }
    .grid-1:last-child,
    .grid-2:last-child,
    .grid-3:last-child,
    .grid-4:last-child,
    .grid-5:last-child,
    .grid-6:last-child,
    .grid-half:last-child,
    .grid-full:last-child,
    .grid-25:last-child,
    .grid-unit:last-child {
      margin-right: 0; }

  .gallery .grid-unit,
  .grid-half {
    width: 49.2424242424%; }
    .gallery .grid-unit:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .gallery .grid-unit:nth-of-type(2n),
    .grid-half:nth-of-type(2n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-flow-opposite {
    float: right; } }
@media screen and (min-width: 640px) {
  .grid-1 {
    width: 15.404040404%; }
    .grid-1:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-1:nth-of-type(6n) {
      margin-right: 0; }
    .grid-1:last-child {
      margin-right: 0; }

  .grid-2 {
    width: 32.3232323232%; }
    .grid-2:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-2:nth-of-type(3n) {
      margin-right: 0; }
    .grid-2:last-child {
      margin-right: 0; }

  .grid-3,
  .grid-half {
    width: 49.2424242424%; }
    .grid-3:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-3:nth-of-type(2n),
    .grid-half:nth-of-type(2n) {
      margin-right: 0; }
    .grid-3:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-4 {
    width: 66.1616152593%; }
    .grid-4:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-4:nth-of-type(1.50000002n) {
      margin-right: 0; }
    .grid-4:last-child {
      margin-right: 0; }

  .grid-5 {
    width: 82.7424240402%; }
    .grid-5:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-5:nth-of-type(1.20481928n) {
      margin-right: 0; }
    .grid-5:last-child {
      margin-right: 0; }

  .grid-6,
  .grid-full {
    width: 100%; }
    .grid-6:nth-child(n),
    .grid-full:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-6:nth-of-type(1n),
    .grid-full:nth-of-type(1n) {
      margin-right: 0; }
    .grid-6:last-child,
    .grid-full:last-child {
      margin-right: 0; }

  /* If there are no margins */
  .grid-1.no-margin {
    width: 16.6666666667%; }
    .grid-1.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-1.no-margin:nth-of-type(6n) {
      margin-right: 0; }
    .grid-1.no-margin:last-child {
      margin-right: 0; }

  .grid-2.no-margin {
    width: 33.3333333333%; }
    .grid-2.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-2.no-margin:nth-of-type(3n) {
      margin-right: 0; }
    .grid-2.no-margin:last-child {
      margin-right: 0; }

  .grid-3.no-margin,
  .grid-half.no-margin {
    width: 50%; }
    .grid-3.no-margin:nth-child(n),
    .grid-half.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-3.no-margin:nth-of-type(2n),
    .grid-half.no-margin:nth-of-type(2n) {
      margin-right: 0; }
    .grid-3.no-margin:last-child,
    .grid-half.no-margin:last-child {
      margin-right: 0; }

  .grid-4.no-margin {
    width: 66.6666657778%; }
    .grid-4.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-4.no-margin:nth-of-type(1.50000002n) {
      margin-right: 0; }
    .grid-4.no-margin:last-child {
      margin-right: 0; }

  .grid-5.no-margin {
    width: 82.9999998008%; }
    .grid-5.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-5.no-margin:nth-of-type(1.20481928n) {
      margin-right: 0; }
    .grid-5.no-margin:last-child {
      margin-right: 0; }

  .grid-6.no-margin,
  .grid-full.no-margin {
    width: 100%; }
    .grid-6.no-margin:nth-child(n),
    .grid-full.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-6.no-margin:nth-of-type(1n),
    .grid-full.no-margin:nth-of-type(1n) {
      margin-right: 0; }
    .grid-6.no-margin:last-child,
    .grid-full.no-margin:last-child {
      margin-right: 0; }

  .grid-25 {
    width: 23.8636363636%; }
    .grid-25:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-25:nth-of-type(4n) {
      margin-right: 0; }
    .grid-25:last-child {
      margin-right: 0; }

  .grid-25.no-margin {
    width: 25%; }
    .grid-25.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-25.no-margin:nth-of-type(4n) {
      margin-right: 0; }
    .grid-25.no-margin:last-child {
      margin-right: 0; }

  .gallery .grid-unit {
    width: 32.3232323232%; }
    .gallery .grid-unit:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .gallery .grid-unit:nth-of-type(3n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child {
      margin-right: 0; }

  .content-pad-right {
    padding-right: 4%;
    /* Use (or don't) as necessary. */ }

  .content-pad-left {
    padding-left: 4%; } }
/*!////////////////////////////////////////////////
// THEME
/////////////////////////////////////////////////*/
hr {
  position: relative;
  width: 165px;
  height: 10px;
  background-color: #c3bab6; }
  hr:after {
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 166px;
    height: 26px;
    background-image: url(../img/texture-hr.png); }

.button--project {
  display: inline-block;
  border: 3px solid #fff;
  padding: 5px 20px; }
  .button--project span {
    font-size: 1.5em; }
  .button--project:hover, .button--project:focus {
    background-color: #983b2c;
    border: 3px solid #983b2c; }

/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
.hero {
  position: relative; }

header[role=banner] {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1.5% 2.5%; }

.branding {
  display: block;
  text-align: center;
  float: left; }
  .branding img {
    width: 200px; }
  @media screen and (min-width: 700px) {
    .branding {
      display: inline-block; }
      .branding img {
        width: auto; } }

nav[role=navigation] {
  display: none;
  float: right;
  margin: 60px 0 0 0; }
  nav[role=navigation] li {
    display: inline-block; }
  nav[role=navigation] a {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 10px;
    -webkit-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
    -moz-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
    -o-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    nav[role=navigation] a:hover, nav[role=navigation] a:focus {
      color: #983b2c;
      -webkit-text-shadow: 0 0 0 rgba(0, 0, 0, 0.55);
      -moz-text-shadow: 0 0 0 rgba(0, 0, 0, 0.55);
      -o-text-shadow: 0 0 0 rgba(0, 0, 0, 0.55);
      text-shadow: 0 0 0 rgba(0, 0, 0, 0.55); }
  @media screen and (min-width: 600px) {
    nav[role=navigation] {
      display: inline-block; } }

.hero--page nav[role=navigation] a:hover, .hero--page nav[role=navigation] a:focus {
  color: #252525;
  -webkit-text-shadow: 0 0 0 rgba(0, 0, 0, 0.55);
  -moz-text-shadow: 0 0 0 rgba(0, 0, 0, 0.55);
  -o-text-shadow: 0 0 0 rgba(0, 0, 0, 0.55);
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.55); }

.phantom {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  background-color: #252525;
  text-align: center;
  padding: 20px 5%; }
  .phantom li {
    display: inline-block; }
  .phantom a {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 10px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    .phantom a:hover, .phantom a:focus {
      color: #983b2c; }

.selected {
  border-bottom: 3px solid #fff; }

.flexslider ul {
  display: block; }
.flexslider li img {
  width: 100%; }

.hero--page {
  position: relative;
  min-height: 345px;
  background-image: url(../img/equestrian-bg.jpg);
  background-size: cover; }

.hero--page.general {
  background-image: url(../img/general-bg.jpg); }

.hero__text {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 3;
  width: 100%;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .hero__text {
      display: inline-block; } }

.hero--page__text {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 3;
  width: 100%;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .hero--page__text {
      display: inline-block; } }

.hero__sub {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.1em;
  color: #fff;
  text-transform: uppercase;
  -webkit-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
  -moz-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
  -o-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55); }
  @media screen and (min-width: 1000px) {
    .hero__sub {
      font-size: 2.75em; } }

.hero__title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.375em;
  font-weight: 700;
  line-height: 1.1em;
  color: #fff;
  text-transform: uppercase;
  -webkit-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
  -moz-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
  -o-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55); }
  @media screen and (min-width: 1000px) {
    .hero__title {
      font-size: 4.6875em; } }

.hero--page__text .hero__sub {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.1em;
  color: #c8c2be;
  text-transform: uppercase;
  -webkit-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
  -moz-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
  -o-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55); }
  @media screen and (min-width: 1000px) {
    .hero--page__text .hero__sub {
      font-size: 1.5em; } }
.hero--page__text .hero__title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.375em;
  font-weight: 700;
  line-height: 1.1em;
  color: #fff;
  text-transform: uppercase;
  -webkit-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
  -moz-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
  -o-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55); }
  @media screen and (min-width: 1000px) {
    .hero--page__text .hero__title {
      font-size: 3em; } }

.experience-statement {
  background-color: #c3bab6;
  padding: 20px 5%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.1em;
  color: #fff;
  text-transform: uppercase; }

.welcome__text {
  padding: 60px 5%;
  text-align: center; }
  .welcome__text hr {
    margin: 15px auto 40px; }
  .welcome__text h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.25em;
    color: #983b2c;
    text-transform: uppercase; }
  @media screen and (min-width: 1400px) {
    .welcome__text {
      padding: 60px 10%; } }

.main__body {
  text-align: left; }
  .main__body p {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 15px; }
    @media screen and (min-width: 1400px) {
      .main__body p {
        font-size: 1.125em;
        margin-bottom: 30px; } }

.main__body.grid-half {
  width: 100%; }
  .main__body.grid-half:nth-child(n) {
    margin-bottom: 1.5151515152%;
    margin-right: 1.5151515152%; }
  .main__body.grid-half:nth-of-type(1n) {
    margin-right: 0; }
  .main__body.grid-half:last-child {
    margin-right: 0; }
  @media screen and (min-width: 1060px) {
    .main__body.grid-half {
      width: 49.2424242424%; }
      .main__body.grid-half:nth-child(n) {
        margin-bottom: 1.5151515152%;
        margin-right: 1.5151515152%; }
      .main__body.grid-half:nth-of-type(2n) {
        margin-right: 0; }
      .main__body.grid-half:last-child {
        margin-right: 0; } }

.main__graphic {
  display: none; }
  .main__graphic img {
    width: 100%; }
  @media screen and (min-width: 1060px) {
    .main__graphic {
      display: block;
      padding: 0 2.5%; } }

.gallery__link {
  position: relative;
  background-color: #000; }
  .gallery__link img {
    width: 100%;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible; }
  .gallery__link:hover img, .gallery__link:focus img {
    opacity: 0.7;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible; }

.gallery__link.grid-half {
  width: 100%; }
  .gallery__link.grid-half:nth-child(n) {
    margin-bottom: 0%;
    margin-right: 0%; }
  .gallery__link.grid-half:nth-of-type(1n) {
    margin-right: 0; }
  .gallery__link.grid-half:last-child {
    margin-right: 0; }
  @media screen and (min-width: 900px) {
    .gallery__link.grid-half {
      width: 50%; }
      .gallery__link.grid-half:nth-child(n) {
        margin-bottom: 0%;
        margin-right: 0%; }
      .gallery__link.grid-half:nth-of-type(2n) {
        margin-right: 0; }
      .gallery__link.grid-half:last-child {
        margin-right: 0; } }

.gallery__title {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center; }
  .gallery__title h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.25em;
    line-height: 1.2em;
    color: #fff;
    text-transform: uppercase; }
  .gallery__title p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.2em;
    color: #c8c2be;
    text-transform: uppercase; }

.testimonial--home {
  padding: 60px 5%;
  text-align: center; }
  .testimonial--home hr {
    margin: 25px auto 25px; }
  .testimonial--home p {
    width: 100%;
    max-width: 940px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.125em;
    line-height: 1.8em;
    color: #983b2c;
    text-transform: uppercase;
    margin: 0 auto; }
  .testimonial--home .author {
    color: #c3bab6; }

.gallery__main img {
  width: 100%; }

.gallery__details {
  margin-top: 20px; }

.gallery__description {
  text-align: left; }
  .gallery__description p {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 15px; }
    @media screen and (min-width: 1400px) {
      .gallery__description p {
        font-size: 1.125em;
        margin-bottom: 30px; } }

.gallery__thumb {
  background-color: #ccc;
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 10px 10px 0; }

.projects {
  padding: 0 5%; }
  @media screen and (min-width: 1400px) {
    .projects {
      padding: 0 10%; } }

.project {
  position: relative;
  background-color: #252525; }
  .project .button--project {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -94px;
    transform: translateY(-50%);
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    line-height: 1.8em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none; }
  .project img {
    width: 100%; }
  .project:hover img, .project:focus img {
    opacity: 0.25; }
  .project a:hover .button--project, .project a:focus .button--project {
    background-color: #983b2c;
    border: 3px solid #983b2c; }

footer[role=contentinfo] {
  background-color: #c3bab6;
  padding: 30px 2.5%; }

.copyright {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  line-height: 1.8em;
  color: #fff;
  text-transform: uppercase;
  text-align: center; }
  @media screen and (min-width: 900px) {
    .copyright {
      width: 50%;
      font-size: 1.375em;
      text-align: left; } }

.footer__address {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  line-height: 1.4em;
  color: #fff;
  text-transform: uppercase;
  text-align: center; }
  @media screen and (min-width: 900px) {
    .footer__address {
      width: 50%;
      font-size: 0.875em;
      text-align: right; } }

/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/
/*! ==========================================================================
// Media Queries
// =========================================================================*/
/*! ==========================================================================
// Helper classes
// =========================================================================*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

/*! Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
// For best results, use your favorite clearfix here.
// -------------------------------------------------------------- */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

/*! ==========================================================================
// Print styles
// =========================================================================*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
