@import 'resets.scss';
@import 'mixins.scss';
@import 'layout.scss';
@import 'theme.scss';

/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
.hero
{
    position: relative;
}
header[role=banner]
{
    position: absolute;
    z-index: 3;
    top: 0;

    width: 100%;
    padding: 1.5% 2.5%;
}
.branding
{
    display: block;
    float: left;

    text-align: center;
    img
    {
        width: 200px;
    }
    @media screen and (min-width: 700px)
    {
        display: inline-block;
        img
        {
            width: auto;
        }
    }
}
nav[role=navigation]
{
    display: none;
    float: right;

    margin: 60px 0 0 0;
    li
    {
        display: inline-block;
    }
    a
    {
        font-family: $headline;
        font-size: em(16px,$font-size);

        margin: 0 10px;

        text-decoration: none;
        text-transform: uppercase;

        color: #fff;

        @include prefix(text-shadow, 0 1px 3px rgba(0,0,0,.55) );
        @include prefix(transition, .2s ease-in-out);
        &:hover,
        &:focus
        {
            color: $equestrian;

            @include prefix(text-shadow, 0 0 0 rgba(0,0,0,.55) );
        }
    }
    @media screen and (min-width: 600px)
    {
        display: inline-block;
    }
}
.hero--page
{
    nav[role=navigation]
    {
        a
        {
            &:hover,
            &:focus
            {
                color: $textColor;

                @include prefix(text-shadow, 0 0 0 rgba(0,0,0,.55) );
            }
        }
    }
}
.phantom
{
    position: fixed;
    z-index: 4;
    top: 0;

    display: none;

    width: 100%;
    padding: 20px 5%;

    text-align: center;

    background-color: #252525;
    li
    {
        display: inline-block;
    }
    a
    {
        font-family: $headline;
        font-size: em(16px,$font-size);

        margin: 0 10px;

        text-decoration: none;
        text-transform: uppercase;

        color: #fff;

        @include prefix(transition, .2s ease-in-out);
        &:hover,
        &:focus
        {
            color: $equestrian;
        }
    }
}
.selected
{
    border-bottom: 3px solid #fff;
}
.flexslider
{
    ul
    {
        display: block;
    }
    li
    {
        img
        {
            width: 100%;
        }
    }
}
.hero--page
{
    position: relative;

    min-height: 345px;

    background-image: url(../img/equestrian-bg.jpg);
    background-size: cover;
}
.hero--page.general
{
    background-image: url(../img/general-bg.jpg);
}
.hero__text
{
    position: absolute;
    z-index: 3;
    top: 50%;

    display: none;

    width: 100%;

    text-align: center;
    @media screen and (min-width: 600px)
    {
        display: none;
    }
}
.hero--page__text
{
    position: absolute;
    z-index: 3;
    top: 50%;

    display: none;

    width: 100%;

    text-align: center;
    @media screen and (min-width: 600px)
    {
        display: inline-block;
    }
}
.hero__sub
{
    font-family: $headline;
    font-size: em(18px,$font-size);
    font-weight: 400;
    line-height: 1.1em;

    text-transform: uppercase;

    color: #fff;

    @include prefix(text-shadow, 0 1px 3px rgba(0,0,0,.55) );
    @media screen and (min-width: 1000px)
    {
        font-size: em(44px,$font-size);
    }
}
.hero__title
{
    font-family: $headline;
    font-size: em(38px,$font-size);
    font-weight: 700;
    line-height: 1.1em;

    text-transform: uppercase;

    color: #fff;

    @include prefix(text-shadow, 0 1px 3px rgba(0,0,0,.55) );
    @media screen and (min-width: 1000px)
    {
        font-size: em(75px,$font-size);
    }
}
.hero--page__text
{
    .hero__sub
    {
        font-family: $headline;
        font-size: em(24px,$font-size);
        font-weight: 400;
        line-height: 1.1em;

        text-transform: uppercase;

        color: #c8c2be;

        @include prefix(text-shadow, 0 1px 3px rgba(0,0,0,.55) );
        @media screen and (min-width: 1000px)
        {
            font-size: em(24px,$font-size);
        }
    }
    .hero__title
    {
        font-family: $headline;
        font-size: em(38px,$font-size);
        font-weight: 700;
        line-height: 1.1em;

        text-transform: uppercase;

        color: #fff;

        @include prefix(text-shadow, 0 1px 3px rgba(0,0,0,.55) );
        @media screen and (min-width: 1000px)
        {
            font-size: em(48px,$font-size);
        }
    }
}
.experience-statement
{
    font-family: $headline;
    font-size: em(16px,$font-size);
    font-weight: 400;
    line-height: 1.1em;

    padding: 20px 5%;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background-color: $alternateColor;
}
.welcome__text
{
    padding: 60px 5%;

    text-align: center;
    hr
    {
        margin: 15px auto 40px;
    }
    h1
    {
        font-family: $headline;
        font-size: em(36px, $font-size);

        text-transform: uppercase;

        color: $equestrian;
    }
    @media screen and (min-width: 1400px)
    {
        padding: 60px 10%;
    }
}
.main__body
{
    text-align: left;
    p
    {
        font-family: $body;
        font-size: em(16px,$font-size);
        line-height: 1.5em;

        margin-bottom: 15px;
        @media screen and (min-width: 1400px)
        {
            font-size: em(18px,$font-size);

            margin-bottom: 30px;
        }
    }
}
.main__body.grid-half
{
    @include gridRow(1, 1.515151515152%);
    @media screen and (min-width: 1060px)
    {
        @include gridRow(2, 1.515151515152%);
    }
}
.main__graphic
{
    display: none;
    img
    {
        width: 100%;
    }
    @media screen and (min-width: 1060px)
    {
        display: block;

        padding: 0 2.5%;
    }
}
.gallery__link
{
    position: relative;

    background-color: #000;
    -webkit-backface-visibility: hidden;
           -moz-backface-visibility: hidden;
                backface-visibility: hidden;
    img
    {
        width: 100%;

        @include prefix(transition, .2s ease-in-out);
        -webkit-backface-visibility: hidden;
           -moz-backface-visibility: hidden;
                backface-visibility: hidden;
    }
    &:hover,
    &:focus
    {
        img
        {
            opacity: .7;

            -webkit-backface-visibility: hidden;
               -moz-backface-visibility: hidden;
                    backface-visibility: hidden;
        }
    }
}
.gallery__link.grid-half
{
    @include gridRow(1, 0%);
    @media screen and (min-width: 900px)
    {
        @include gridRow(2, 0%);
    }
}
.gallery__title
{
    position: absolute;
    top: 50%;

    width: 100%;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
    h2
    {
        font-family: $headline;
        font-size: em(36px, $font-size);
        font-weight: 700;
        line-height: 1.2em;

        text-transform: uppercase;

        color: #fff;
        -webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
				backface-visibility: hidden;
		-webkit-transform: translateZ(0px);
    }
    p
    {
        font-family: $headline;
        font-size: em(18px, $font-size);
        font-weight: 400;
        line-height: 1.2em;

        text-transform: uppercase;

        color: #c8c2be;
    }
}
.testimonial--home
{
    padding: 60px 5%;

    text-align: center;
    hr
    {
        margin: 25px auto 25px;
    }
    p
    {
        font-family: $headline;
        font-size: em(18px, $font-size);
        line-height: 1.8em;

        width: 100%;
        max-width: 940px;
        margin: 0 auto;

        text-transform: uppercase;

        color: $equestrian;
    }
    .author
    {
        color: $alternateColor;
    }
}
.gallery__main
{
    img
    {
        width: 100%;
    }
}
.gallery__details
{
    margin-top: 20px;
}
.gallery__description
{
    text-align: left;
    p
    {
        font-family: $body;
        font-size: em(16px,$font-size);
        line-height: 1.5em;

        margin-bottom: 15px;
        @media screen and (min-width: 1400px)
        {
            font-size: em(18px,$font-size);

            margin-bottom: 30px;
        }
    }
}
.gallery__thumb
{
    float: left;

    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;

    background-color: #ccc;
}

.projects
{
    padding: 0 5%;
    @media screen and (min-width: 1400px)
    {
        padding: 0 10%;
    }
}
.project
{
    position: relative;

    background-color: $textColor;
    .button--project
    {
        font-family: $headline;
        font-size: em(16px, $font-size);
        line-height: 1.8em;

        position: absolute;
        top: 50%;
        left: 50%;

        margin-left: -94px;

        transform: translateY(-50%);
        text-decoration: none;
        text-transform: uppercase;

        color: #fff;
    }
    img
    {
        width: 100%;
    }
    &:hover,
    &:focus
    {
        img
        {
            opacity: .25;
        }
    }
    a
    {
        &:hover .button--project,
        &:focus .button--project
        {
            border: 3px solid $equestrian;
            background-color: $equestrian;
        }
    }
}

footer[role=contentinfo]
{
    padding: 30px 2.5%;

    background-color: $alternateColor;
}
.copyright
{
    font-family: $headline;
    font-size: em(16px, $font-size);
    line-height: 1.8em;

    display: inline-block;

    width: 100%;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #fff;
    @media screen and (min-width: 900px)
    {
        font-size: em(22px, $font-size);

        width: 50%;

        text-align: left;
    }
}
.footer__address
{
    font-family: $headline;
    font-size: em(14px, $font-size);
    line-height: 1.4em;

    display: inline-block;

    width: 100%;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #fff;
    @media screen and (min-width: 900px)
    {
        font-size: em(14px, $font-size);

        width: 50%;

        text-align: right;
    }
}

/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/



@import 'shame.scss';
@import 'helpers.scss';
